@model PPP___ProjekatPokusaj2.Core.KorisnickiNalogBO

    @{
        ViewData["Title"] = "Obrisi nalog";
    }

    <form method="post" action="Delete">
        <div class="card">
            <div class="card-header bg-info">
                <h2 class="text-center">@ViewData["Title"]</h2>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-2">
                <input asp-for="Ime" class="form-control" readonly />
                <label asp-for="Ime"></label>
               <span asp-validation-for="Ime" class="text-danger"></span>

            </div>
            <div class="form-floating mb-2">
                <input asp-for="Prezime" class="form-control" readonly />
                <label asp-for="Prezime"></label>
                               <span asp-validation-for="Prezime" class="text-danger"></span>

            </div>
            <div class="form-floating mb-2">
                <input asp-for="Username" class="form-control" readonly />
                <label asp-for="Username"></label>
                               <span asp-validation-for="Username" class="text-danger"></span>

            </div>
             <div class="form-floating mb-2">
                <input asp-for="Kontakt" class="form-control" readonly />
                <label asp-for="Kontakt"></label>
                               <span asp-validation-for="Ime" class="text-danger"></span>

            </div>
            <div>
                <div class="col-lg-12 d-grid">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
</div>
</form>